.rc-tabs {
    border: 0 !important;
    .rc-tabs-nav {
        margin-bottom: 16px;
    }
    .rc-tabs-ink-bar {
        height: 2px;
        background: #5e72e4;
    }
    .rc-tabs-tab-btn {
        font-size: 14px;
        font-weight: 600;
        line-height: 44px;
    }
}

.tab-content {
    width: 100%;
    height: 60vh;
    .tab-content-header {
        height: 96px;
    }
    .tab-content-body {
        height: calc(60vh - 96px);
    }
    iframe {
        width: 100%;
        height: 100%;
    }
}
